USE [master]
GO
/****** Object:  Database [db_docval]    Script Date: 18/02/2026 11:40:16 am ******/
CREATE DATABASE [db_docval]
 
ALTER DATABASE [db_docval] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_docval].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_docval]
GO
/****** Object:  UserDefinedTableType [dbo].[RoleIdList]    Script Date: 18/02/2026 11:40:26 am ******/
CREATE TYPE [dbo].[RoleIdList] AS TABLE(
	[role_id] [uniqueidentifier] NULL
)
GO
/****** Object:  Table [dbo].[tbl_office]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_office](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[abrv] [varchar](20) NULL,
	[office_type] [varchar](20) NULL,
	[parent_office] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_office_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_getAllDivision]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_getAllDivision] AS
SELECT 
    ofc.id,
    ofc.name AS division_name,
    ofc.abrv AS division_abrv,
    ofc.office_type,
    ofc.parent_office AS parent_id,
    parent.name AS parent_name,
    parent.abrv AS parent_abrv
FROM tbl_office AS ofc
LEFT JOIN tbl_office AS parent 
    ON parent.id = ofc.parent_office;

GO
/****** Object:  Table [dbo].[tbl_doc_type]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_doc_type](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_doc_type_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_getAllDocType]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_getAllDocType] AS
SELECT 
	dct.id,
	dct.name
FROM tbl_doc_type AS dct
GO
/****** Object:  Table [dbo].[tbl_doc_class]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_doc_class](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tbl_doc_class_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_getAllDocClass]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_getAllDocClass] AS
SELECT 
	dcc.id,
	dcc.name
FROM tbl_doc_class AS dcc
GO
/****** Object:  Table [dbo].[tbl_file]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_file](
	[id] [uniqueidentifier] NOT NULL,
	[reference_no] [varchar](255) NULL,
	[title] [varchar](255) NOT NULL,
	[doc_type] [uniqueidentifier] NULL,
	[doc_class] [uniqueidentifier] NULL,
	[sender_office] [uniqueidentifier] NULL,
	[sender_person] [varchar](255) NULL,
	[sender_email] [varchar](255) NULL,
	[sender_phone] [varchar](12) NULL,
	[created_by] [uniqueidentifier] NULL,
	[date_created] [datetime] NULL,
	[url] [varchar](255) NULL,
	[report] [nvarchar](max) NULL,
	[status] [varchar](50) NULL,
	[receiving_office] [uniqueidentifier] NULL,
	[origin] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_otp]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_otp](
	[id] [uniqueidentifier] NOT NULL,
	[otp] [varchar](255) NULL,
	[user_id] [uniqueidentifier] NULL,
	[expires_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_role]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_role](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user](
	[id] [uniqueidentifier] NOT NULL,
	[f_name] [varchar](255) NOT NULL,
	[m_name] [varchar](255) NULL,
	[l_name] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[division] [uniqueidentifier] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_user_role]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_user_role](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[role_id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_tbl_user_role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_doc_class] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tbl_doc_type] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tbl_file] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tbl_file] ADD  CONSTRAINT [DF_date_created]  DEFAULT ((sysutcdatetime() AT TIME ZONE 'Singapore Standard Time')) FOR [date_created]
GO
ALTER TABLE [dbo].[tbl_file] ADD  CONSTRAINT [df_status]  DEFAULT ('Processing') FOR [status]
GO
ALTER TABLE [dbo].[tbl_office] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tbl_otp] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tbl_role] ADD  CONSTRAINT [DF_tblrole_id]  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tbl_user] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tbl_user] ADD  CONSTRAINT [DF_created_at]  DEFAULT ((sysutcdatetime() AT TIME ZONE 'Singapore Standard Time')) FOR [created_at]
GO
ALTER TABLE [dbo].[tbl_user_role] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tbl_file]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[tbl_user] ([id])
GO
ALTER TABLE [dbo].[tbl_file]  WITH CHECK ADD FOREIGN KEY([doc_class])
REFERENCES [dbo].[tbl_doc_class] ([id])
GO
ALTER TABLE [dbo].[tbl_file]  WITH CHECK ADD FOREIGN KEY([doc_type])
REFERENCES [dbo].[tbl_doc_type] ([id])
GO
ALTER TABLE [dbo].[tbl_file]  WITH CHECK ADD  CONSTRAINT [fk_recoffice] FOREIGN KEY([receiving_office])
REFERENCES [dbo].[tbl_office] ([id])
GO
ALTER TABLE [dbo].[tbl_file] CHECK CONSTRAINT [fk_recoffice]
GO
ALTER TABLE [dbo].[tbl_file]  WITH CHECK ADD  CONSTRAINT [FK_sender_office] FOREIGN KEY([sender_office])
REFERENCES [dbo].[tbl_office] ([id])
GO
ALTER TABLE [dbo].[tbl_file] CHECK CONSTRAINT [FK_sender_office]
GO
ALTER TABLE [dbo].[tbl_office]  WITH CHECK ADD  CONSTRAINT [FK_parent_office] FOREIGN KEY([parent_office])
REFERENCES [dbo].[tbl_office] ([id])
GO
ALTER TABLE [dbo].[tbl_office] CHECK CONSTRAINT [FK_parent_office]
GO
ALTER TABLE [dbo].[tbl_otp]  WITH CHECK ADD  CONSTRAINT [FK_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[tbl_user] ([id])
GO
ALTER TABLE [dbo].[tbl_otp] CHECK CONSTRAINT [FK_user_id]
GO
ALTER TABLE [dbo].[tbl_user]  WITH CHECK ADD FOREIGN KEY([division])
REFERENCES [dbo].[tbl_office] ([id])
GO
ALTER TABLE [dbo].[tbl_user_role]  WITH CHECK ADD  CONSTRAINT [FK_tbluserrole_role_id] FOREIGN KEY([role_id])
REFERENCES [dbo].[tbl_role] ([id])
GO
ALTER TABLE [dbo].[tbl_user_role] CHECK CONSTRAINT [FK_tbluserrole_role_id]
GO
ALTER TABLE [dbo].[tbl_user_role]  WITH CHECK ADD  CONSTRAINT [FK_tbluserrole_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[tbl_user] ([id])
GO
ALTER TABLE [dbo].[tbl_user_role] CHECK CONSTRAINT [FK_tbluserrole_user_id]
GO
/****** Object:  StoredProcedure [dbo].[checkEmail]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[checkEmail]
	@email VARCHAR(255)
AS
BEGIN
	
	SET NOCOUNT ON
    
	SELECT id
	FROM tbl_user
	WHERE email = @email

END
GO
/****** Object:  StoredProcedure [dbo].[createDivision]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DROP PROCEDURE createDocType;

CREATE PROCEDURE [dbo].[createDivision]
    @name VARCHAR(255),
    @abrv VARCHAR(255),
    @office_type VARCHAR(255),
    @parent_office UNIQUEIDENTIFIER = NULL
AS
BEGIN

    -- Table variable to capture inserted rows
    DECLARE @Inserted TABLE (
        id UNIQUEIDENTIFIER,
        division_name VARCHAR(255),
        division_abrv VARCHAR(255),
        office_type VARCHAR(20),
        parent_id UNIQUEIDENTIFIER
    );

    -- insert
    INSERT INTO tbl_office(name, abrv, office_type, parent_office)
    OUTPUT inserted.id,
           inserted.name as division_name,
           inserted.abrv as division_abrv,
           inserted.office_type as office_type,
           inserted.parent_office as parent_id
    INTO @Inserted
    VALUES (@name, @abrv, @office_type, @parent_office);

    -- output
    SELECT *
    FROM @Inserted;

END
GO
/****** Object:  StoredProcedure [dbo].[createDocClass]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DROP PROCEDURE createDocType;

CREATE PROCEDURE [dbo].[createDocClass]
    @name VARCHAR(255)
AS
BEGIN

    -- Table variable to capture inserted rows
    DECLARE @Inserted TABLE (
        id UNIQUEIDENTIFIER,
        name VARCHAR(255)
    );

    -- insert
    INSERT INTO tbl_doc_class (name)
    OUTPUT inserted.id,
            inserted.name
    INTO @Inserted
    VALUES (@name);

    -- output
    SELECT *
    FROM @Inserted;

END
GO
/****** Object:  StoredProcedure [dbo].[createDocType]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DROP PROCEDURE createDocType;

CREATE PROCEDURE [dbo].[createDocType]
    @name VARCHAR(255)
AS
BEGIN

    -- Table variable to capture inserted rows
    DECLARE @InsertedType TABLE (
        id UNIQUEIDENTIFIER,
        name VARCHAR(255)
    );

    -- insert
    INSERT INTO tbl_doc_type (name)
    OUTPUT inserted.id,
            inserted.name
    INTO @InsertedType
    VALUES (@name);

    -- output
    SELECT *
    FROM @InsertedType;

END
GO
/****** Object:  StoredProcedure [dbo].[createFile]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[createFile]
    @reference_no VARCHAR(255),
    @title VARCHAR(255),
    @doc_type UNIQUEIDENTIFIER,
    @doc_class UNIQUEIDENTIFIER,
    @sender_office VARCHAR(255),
    @sender_person VARCHAR(255),
    @sender_email NVARCHAR(100),
    @sender_phone NVARCHAR(30),
    @created_by UNIQUEIDENTIFIER,
    @url VARCHAR(255),
    @report NVARCHAR(MAX) = NULL,
    @receiving_office UNIQUEIDENTIFIER = NULL,
    @origin VARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO tbl_file (
        reference_no,
        title,
        doc_type,
        doc_class,
        sender_office,
        sender_person,
        sender_email,
        sender_phone,
        created_by,
        url,
        report,
        receiving_office,
        origin
    )
    VALUES (
        @reference_no,
        @title,
        @doc_type,
        @doc_class,
        @sender_office,
        @sender_person,
        @sender_email,
        @sender_phone,
        @created_by,
        @url,
        @report,
        @receiving_office,
        @origin
    );
END
GO
/****** Object:  StoredProcedure [dbo].[createOtp]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[createOtp]
	@otp VARCHAR(255),
	@user_id UNIQUEIDENTIFIER,
    @expires_at DATETIME
AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
    
		 -- Check if the user exists
        IF NOT EXISTS (SELECT 1 FROM tbl_user WHERE id = @user_id)
        BEGIN
            RAISERROR('User with the given ID does not exist.', 16, 1);
            RETURN;
        END	

        -- check if user already have an otp
        IF NOT EXISTS (SELECT 1 FROM tbl_otp WHERE user_id = @user_id)
        BEGIN
            -- if no otp yet, then insert
		    INSERT INTO tbl_otp(otp, user_id, expires_at)
            VALUES 
                (@otp, @user_id, @expires_at)
            RETURN;
        END	

        -- if already have otp, then update
        UPDATE tbl_otp
        SET otp = @otp
        WHERE user_id = @user_id;

        UPDATE tbl_otp
        SET expires_at = @expires_at
        WHERE user_id = @user_id;

	END TRY

	BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[deleteAccount]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[deleteAccount]
	@userId UNIQUEIDENTIFIER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY
		-- Check if the user account exists
        IF NOT EXISTS (SELECT 1 FROM tbl_user WHERE id = @userId)
        BEGIN
            RAISERROR('User account with the given ID does not exist.', 16, 1);
            RETURN;
        END

		DELETE
		FROM tbl_user
		WHERE id = @userId;
	END TRY
	BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[deleteDivision]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[deleteDivision]
	@divisionId UNIQUEIDENTIFIER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY
		-- Check if the division exists
        IF NOT EXISTS (SELECT 1 FROM tbl_office WHERE id = @divisionId)
        BEGIN
            RAISERROR('Division with the given ID does not exist.', 16, 1);
            RETURN;
        END

		DELETE
		FROM tbl_office
		WHERE id = @divisionId;
	END TRY
	BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[deleteDocClass]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[deleteDocClass]
	@docClassId UNIQUEIDENTIFIER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY
		-- Check if the doc classification exists
        IF NOT EXISTS (SELECT 1 FROM tbl_doc_class WHERE id = @docClassId)
        BEGIN
            RAISERROR('Document Classification with the given ID does not exist.', 16, 1);
            RETURN;
        END

		DELETE
		FROM tbl_doc_class
		WHERE id = @docClassId;
	END TRY
	BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[deleteDocType]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[deleteDocType]
	@docTypeId UNIQUEIDENTIFIER
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY
		-- Check if the doc type exists
        IF NOT EXISTS (SELECT 1 FROM tbl_doc_type WHERE id = @docTypeId)
        BEGIN
            RAISERROR('Document Type with the given ID does not exist.', 16, 1);
            RETURN;
        END

		DELETE
		FROM tbl_doc_type
		WHERE id = @docTypeId;
	END TRY
	BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[deleteOtp]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[deleteOtp]
	@otp_id UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
    
		 -- Check if the otp exists
        IF NOT EXISTS (SELECT 1 FROM tbl_otp WHERE id = @otp_id)
        BEGIN
            RAISERROR('OTP with the given ID does not exist.', 16, 1);
            RETURN;
        END	

        DELETE 
        FROM tbl_otp
        WHERE id = @otp_id

	END TRY

	BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[editDivision]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editDivision]
    @divisionId UNIQUEIDENTIFIER,
    @newName    VARCHAR(255) = NULL,
    @newAbrv    VARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Check if the division exists
        IF NOT EXISTS (SELECT 1 FROM tbl_office WHERE id = @divisionId)
        BEGIN
            RAISERROR('Division with the given ID does not exist.', 16, 1);
            RETURN;
        END

        -- Check for duplicate name (excluding current record)
        IF @newName IS NOT NULL AND EXISTS (
            SELECT 1 FROM tbl_office 
            WHERE name = @newName AND id <> @divisionId
        )
        BEGIN
            RAISERROR('Duplicate division name detected.', 16, 1);
            RETURN;
        END

        -- Check for duplicate abbreviation (excluding current record)
        IF @newAbrv IS NOT NULL AND EXISTS (
            SELECT 1 FROM tbl_office 
            WHERE abrv = @newAbrv AND id <> @divisionId
        )
        BEGIN
            RAISERROR('Duplicate division abbreviation detected.', 16, 1);
            RETURN;
        END

        -- Perform the update, preserving existing values if parameters are NULL
        UPDATE tbl_office
        SET 
            name = COALESCE(@newName, name),
            abrv = COALESCE(@newAbrv, abrv)
        WHERE id = @divisionId;

        -- Return the updated row
        SELECT id, name, abrv
        FROM tbl_office
        WHERE id = @divisionId;
    END TRY
    BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[editDocClass]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[editDocClass]
	@docClassId UNIQUEIDENTIFIER,
    @newName VARCHAR(255)
AS
BEGIN
	
	SET NOCOUNT ON;

	BEGIN TRY
		-- Check if the doc class exists
        IF NOT EXISTS (SELECT 1 FROM tbl_doc_class WHERE id = @docClassId)
        BEGIN
            RAISERROR('Document Classification with the given ID does not exist.', 16, 1);
            RETURN;
        END

        -- Check for duplicate name (excluding current record)
        IF @newName IS NOT NULL AND EXISTS (
            SELECT 1 FROM tbl_doc_class
            WHERE name = @newName AND id <> @docClassId
        )
        BEGIN
            RAISERROR('Duplicate Document classification detected.', 16, 1);
            RETURN;
        END

        -- Perform the update, preserving existing values if parameters are NULL
        UPDATE tbl_doc_class
        SET 
            name = COALESCE(@newName, name)
        WHERE id = @docClassId;

        -- Return the updated row
        SELECT id, name
        FROM tbl_doc_class
        WHERE id = @docClassId;

	END TRY
	BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[editDocType]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editDocType]
    @docTypeId UNIQUEIDENTIFIER,
    @newName    VARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Check if the doc type exists
        IF NOT EXISTS (SELECT 1 FROM tbl_doc_type WHERE id = @docTypeId)
        BEGIN
            RAISERROR('Document type with the given ID does not exist.', 16, 1);
            RETURN;
        END

        -- Check for duplicate name (excluding current record)
        IF @newName IS NOT NULL AND EXISTS (
            SELECT 1 FROM tbl_doc_type
            WHERE name = @newName AND id <> @docTypeId
        )
        BEGIN
            RAISERROR('Duplicate Document type detected.', 16, 1);
            RETURN;
        END

        -- Perform the update, preserving existing values if parameters are NULL
        UPDATE tbl_doc_type
        SET 
            name = COALESCE(@newName, name)
        WHERE id = @docTypeId;

        -- Return the updated row
        SELECT id, name
        FROM tbl_doc_type
        WHERE id = @docTypeId;
    END TRY
    BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[editUser]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[editUser]
    @userId UNIQUEIDENTIFIER,
    @newFName    VARCHAR(255) = NULL,
    @newMName    VARCHAR(255) = NULL,
    @newLName    VARCHAR(255) = NULL,
    @newEmail    VARCHAR(255) = NULL,
    @newDiv    UNIQUEIDENTIFIER = NULL,
    @newRole RoleIdList READONLY
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Check if the user exists
        IF NOT EXISTS (SELECT 1 FROM tbl_user WHERE id = @userId)
        BEGIN
            RAISERROR('User with the given ID does not exist.', 16, 1);
            RETURN;
        END

        -- Check if the division exists
        IF (@newDiv <> NULL AND NOT EXISTS (SELECT 1 FROM tbl_office WHERE id = @newDiv))
        BEGIN
            RAISERROR('Division with the given ID does not exist.', 16, 1);
            RETURN;
        END

        -- Check for email name (excluding current record)
        IF @newEmail IS NOT NULL AND EXISTS (
            SELECT 1 FROM tbl_user
            WHERE email = @newEmail AND id <> @userId
        )
        BEGIN
            RAISERROR('Duplicate email detected.', 16, 1);
            RETURN;
        END
        
        -- Perform the update, preserving existing values if parameters are NULL
        UPDATE tbl_user
        SET 
            f_name = COALESCE(@newFName, f_name),
            m_name = COALESCE(@newMName, m_name),
            l_name = COALESCE(@newLName, l_name),
            email = COALESCE(@newEmail, email),
            division = COALESCE(@newDiv, division)
        WHERE id = @userId;

        -- check if newRole has value
        IF EXISTS (SELECT 1 FROM @newRole)
        BEGIN
            -- TVP has rows
            DELETE FROM tbl_user_role WHERE user_id = @userId;

            INSERT INTO tbl_user_role (user_id, role_id)
            SELECT @userId, nrol.role_id
            FROM @newRole nrol
            ;
        END 


        -- Return the updated row
        SELECT 
            usr.id,
            COALESCE(usr.f_name, '') + ' ' + COALESCE(usr.m_name, '') + ' ' + COALESCE(usr.l_name, '') AS full_name,
            usr.email,
            STRING_AGG(rol.name, ', ') AS role,
            ofc.name as division_name
        FROM tbl_user as usr
        JOIN tbl_office as ofc ON usr.division = ofc.id
        LEFT JOIN tbl_user_role AS urol ON usr.id = urol.user_id
        LEFT JOIN tbl_role AS rol ON rol.id = urol.role_id
        WHERE usr.id = @userId
        GROUP BY usr.id, usr.f_name, usr.m_name, usr.l_name, usr.email, ofc.name;

    END TRY
    BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[getAllRoles]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllRoles] 
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT *
	FROM tbl_role
END
GO
/****** Object:  StoredProcedure [dbo].[getAllUser]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getAllUser]
AS
BEGIN

SELECT 
	usr.id,
	COALESCE(usr.f_name, '') + ' ' + COALESCE(usr.m_name, '') + ' ' + COALESCE(usr.l_name, '') AS full_name,
	usr.email,
	STRING_AGG(rol.name, ', ') AS role,
	div.name as division_name
FROM tbl_user AS usr
LEFT JOIN tbl_office div ON usr.division = div.id
LEFT JOIN tbl_user_role AS urol ON usr.id = urol.user_id
LEFT JOIN tbl_role AS rol ON rol.id = urol.role_id
GROUP BY usr.id, usr.f_name, usr.m_name, usr.l_name, usr.email, div.name


END;
GO
/****** Object:  StoredProcedure [dbo].[getDashAdmin]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getDashAdmin]
    @userId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @jsonResult NVARCHAR(MAX);

    SET @jsonResult = (
        SELECT
            -- Direct counts (no nested JSON)
            (
                SELECT COUNT(*) AS doc_count 
                FROM tbl_file 
                WHERE created_by = @userId
            ) AS doc_count,
            (
                SELECT COUNT(*)
                FROM tbl_file 
                WHERE date_created >= DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)
                  AND date_created < DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()) + 1, 0)
                  AND created_by = @userId
            ) AS new_doc_count,
            (
                SELECT COUNT(*) AS user_count 
                FROM tbl_user 
            ) AS user_count,
            (
                SELECT COUNT(*)
                FROM tbl_user
                WHERE created_at >= DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)
                  AND created_at < DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()) + 1, 0)
            ) AS new_user_count,

            -- Recent documents still as array
            (
                SELECT TOP (5)
                    fil.id, 
                    fil.title, 
                    dtp.name as doc_type,
                    fil.date_created
                FROM tbl_file AS fil
                JOIN tbl_doc_type AS dtp ON fil.doc_type = dtp.id
                WHERE created_by = @userId
                ORDER BY date_created DESC
                FOR JSON PATH
            ) AS recent_document

        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );

    SELECT @jsonResult AS JsonOutput;
END;
GO
/****** Object:  StoredProcedure [dbo].[getDashUser]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getDashUser]
    @userId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @jsonResult NVARCHAR(MAX);

    SET @jsonResult = (
        SELECT
            -- Direct counts (no nested JSON)
            (
                SELECT COUNT(*) AS doc_count 
                FROM tbl_file 
                WHERE created_by = @userId
            ) AS doc_count,
            (
                SELECT COUNT(*)
                FROM tbl_file 
                WHERE date_created >= DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()), 0)
                  AND date_created < DATEADD(WEEK, DATEDIFF(WEEK, 0, GETDATE()) + 1, 0)
                  AND created_by = @userId
            ) AS new_doc_count,
            

            -- Recent documents still as array
            (
                SELECT TOP (5)
                    fil.id, 
                    fil.title, 
                    dtp.name as doc_type,
                    fil.date_created
                FROM tbl_file AS fil
                JOIN tbl_doc_type AS dtp ON fil.doc_type = dtp.id
                WHERE created_by = @userId
                ORDER BY date_created DESC
                FOR JSON PATH
            ) AS recent_document

        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );

    SELECT @jsonResult AS JsonOutput;
END;
GO
/****** Object:  StoredProcedure [dbo].[getEmail]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getEmail]
	@userId UNIQUEIDENTIFIER
AS
BEGIN
	
	SET NOCOUNT ON
    
	SELECT email
	FROM tbl_user
	WHERE id = @userId

END
GO
/****** Object:  StoredProcedure [dbo].[getFileByUser]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getFileByUser]
    @user_id VARCHAR(255)
AS
BEGIN
    SELECT 
        fil.id,
        fil.reference_no,
        fil.title,
        dct.name AS doc_type,
        dcc.name AS doc_class,
        ofc.name AS sender_office,
        rof.name AS receiving_office,
        fil.sender_person,
        fil.sender_email,
        fil.sender_phone,
        fil.status,
        usr.id AS creator_id,
        COALESCE(usr.f_name, '') + ' ' + COALESCE(usr.m_name, '') + ' ' + COALESCE(usr.l_name, '') AS creator_name,
        fil.origin,
        fil.date_created
    FROM tbl_file AS fil
    JOIN tbl_doc_type AS dct ON fil.doc_type = dct.id
    JOIN tbl_doc_class AS dcc ON fil.doc_class = dcc.id
    JOIN tbl_user AS usr ON fil.created_by = usr.id
    LEFT JOIN tbl_office AS ofc ON fil.sender_office = ofc.id
    LEFT JOIN tbl_office AS rof ON fil.receiving_office = rof.id
    WHERE fil.created_by = @user_id AND fil.report IS NOT NULL
    ORDER BY fil.date_created DESC
    ;
END
GO
/****** Object:  StoredProcedure [dbo].[getFileDetail]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getFileDetail]
    @file_id VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT 
            fil.id,
            fil.reference_no,
            fil.title,
            dct.name AS doc_type,
            dcc.name AS doc_class,
            -- fil.sender_office,
            -- Combine parent and child office names/abbreviations
            ISNULL(parent.name + ' - ', '') + ofc.name AS sender_office,
            ISNULL(parent.abrv + ' - ', '') + ofc.abrv AS sender_office_abrv,
            fil.receiving_office AS receiving_office_id,
            ISNULL(rof_parent.name + ' - ', '') + rof.name AS receiving_office, 
            ISNULL(rof_parent.abrv + ' - ', '') + rof.abrv AS receiving_office_abrv,
            fil.sender_person,
            fil.sender_email,
            fil.sender_phone,
            usr.id AS creator_id,
            COALESCE(usr.f_name, '') + ' ' + COALESCE(usr.m_name, '') + ' ' + COALESCE(usr.l_name, '') AS creator_name,
            fil.report,
            fil.status,
            fil.url,
            fil.date_created
        FROM tbl_file AS fil
        JOIN tbl_doc_type AS dct ON fil.doc_type = dct.id
        JOIN tbl_doc_class AS dcc ON fil.doc_class = dcc.id
        JOIN tbl_user AS usr ON fil.created_by = usr.id
        JOIN tbl_office AS ofc ON fil.sender_office = ofc.id
        LEFT JOIN tbl_office AS parent ON parent.id = ofc.parent_office
        LEFT JOIN tbl_office AS rof ON rof.id = fil.receiving_office
        LEFT JOIN tbl_office AS rof_parent ON rof_parent.id = rof.parent_office
        WHERE fil.id = @file_id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[getIncomingFileByUser]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getIncomingFileByUser]
    @user_id VARCHAR(255)
AS
BEGIN
    SELECT 
        fil.id,
        fil.reference_no,
        fil.title,
        dct.name AS doc_type,
        dcc.name AS doc_class,
        ofc.name AS sender_office,
        rof.name AS receiving_office,
        fil.status,
        fil.origin,
        fil.date_created
    FROM tbl_file AS fil
    JOIN tbl_doc_type AS dct ON fil.doc_type = dct.id
    JOIN tbl_doc_class AS dcc ON fil.doc_class = dcc.id
    JOIN tbl_user AS usr ON fil.created_by = usr.id
    LEFT JOIN tbl_office AS ofc ON fil.sender_office = ofc.id
    LEFT JOIN tbl_office AS rof ON fil.receiving_office = rof.id
    WHERE fil.receiving_office = (
        SELECT division
        FROM tbl_user
        WHERE id = @user_id
    ) AND fil.report IS NULL
    ORDER BY fil.date_created DESC
    ;
END
GO
/****** Object:  StoredProcedure [dbo].[getOtp]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getOtp]
	@user_id UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
    
		 -- Check if the user exists
        IF NOT EXISTS (SELECT 1 FROM tbl_user WHERE id = @user_id)
        BEGIN
            RAISERROR('User with the given ID does not exist.', 16, 1);
            RETURN;
        END	

        SELECT id, otp, expires_at
        FROM tbl_otp 
        WHERE user_id = @user_id

	END TRY

	BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[getUserDetail]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getUserDetail]
    @userId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Check if the USER exists
        IF NOT EXISTS (SELECT 1 FROM tbl_user WHERE id = @userId)
        BEGIN
            RAISERROR('User with the given ID does not exist.', 16, 1);
            RETURN;
        END

        ;WITH OfficeHierarchy AS (
            -- Anchor: start at the user's division
            SELECT 
                o.id,
                o.name,
                o.abrv,
                o.parent_office,
                CAST(o.name AS NVARCHAR(MAX)) AS full_name,
                CAST(o.abrv AS NVARCHAR(MAX)) AS full_abrv
            FROM tbl_office o
            INNER JOIN tbl_user u ON u.division = o.id
            WHERE u.id = @userId

            UNION ALL

            -- Recursive: walk up to parent offices
            SELECT 
                p.id,
                p.name,
                p.abrv,
                p.parent_office,
                CAST(p.name + ' - ' + oh.full_name AS NVARCHAR(MAX)),
                CAST(p.abrv + ' - ' + oh.full_abrv AS NVARCHAR(MAX))
            FROM tbl_office p
            INNER JOIN OfficeHierarchy oh ON oh.parent_office = p.id
        )
        SELECT TOP 1
            u.id AS user_id,
            u.f_name,
            u.m_name,
            u.l_name,
            u.email,
            -- STRING_AGG(rol.name, ', ') AS role,
            (
                SELECT rol2.id, rol2.name
                FROM tbl_user_role AS urol2
                JOIN tbl_role AS rol2 ON urol2.role_id = rol2.id
                WHERE urol2.user_id = u.id
                FOR JSON PATH
            ) AS role,
            u.division AS division_id,
            oh.full_name AS division_name,
            oh.full_abrv AS division_abrv
        FROM tbl_user u
        LEFT JOIN tbl_user_role AS urol ON u.id = urol.user_id
        LEFT JOIN tbl_role AS rol ON rol.id = urol.role_id
        CROSS APPLY (
            SELECT TOP 1 full_name, full_abrv
            FROM OfficeHierarchy
            ORDER BY LEN(full_name) DESC
        ) oh
        WHERE u.id = @userId
        GROUP BY u.id, u.f_name, u.m_name, u.l_name, u.email, u.division, oh.full_name, oh.full_abrv
        ;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[registerUser]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**
ALTER PROCEDURE [dbo].[registerUser]
    @f_name VARCHAR(100),
    @m_name VARCHAR(100),
    @l_name VARCHAR(100),
    @email VARCHAR(255),
    @password VARCHAR(255),
    @role VARCHAR(20),
    @division UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Table variable to capture inserted rows
    DECLARE @InsertedUsers TABLE (
        id UNIQUEIDENTIFIER,
        f_name VARCHAR(100),
        m_name VARCHAR(100),
        l_name VARCHAR(100),
        email VARCHAR(255),
        role VARCHAR(20),
        division UNIQUEIDENTIFIER,
        created_at DATETIME
    );

    -- Insert into tbl_user and capture output
    INSERT INTO tbl_user (f_name, m_name, l_name, email, password, division)
    OUTPUT inserted.id,
           inserted.f_name,
           inserted.m_name,
           inserted.l_name,
           inserted.email,
           inserted.division,
           inserted.created_at
    INTO @InsertedUsers
    VALUES (@f_name, @m_name, @l_name, @email, @password, @role, @division);

    -- Insert roles into tbl_user_role


    -- Return enriched result with division name
    SELECT u.id,
           COALESCE(f_name, '') + ' ' + COALESCE(m_name, '') + ' ' + COALESCE(l_name, '') AS full_name,
           u.email,
           u.role,
           d.name AS division,
           d.abrv AS division_abrv,
           u.created_at
    FROM @InsertedUsers u
    JOIN tbl_office d ON u.division = d.id;
END;
**/

CREATE PROCEDURE [dbo].[registerUser]
    @f_name VARCHAR(100),
    @m_name VARCHAR(100),
    @l_name VARCHAR(100),
    @email VARCHAR(255),
    @password VARCHAR(255),
    @division UNIQUEIDENTIFIER,
    @role RoleIdList READONLY   -- table-valued parameter
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @InsertedUsers TABLE (
        id UNIQUEIDENTIFIER,
        f_name VARCHAR(100),
        m_name VARCHAR(100),
        l_name VARCHAR(100),
        email VARCHAR(255),
        division UNIQUEIDENTIFIER,
        created_at DATETIME
    );

    -- Insert into tbl_user and capture output
    INSERT INTO tbl_user (f_name, m_name, l_name, email, password, division)
    OUTPUT inserted.id,
           inserted.f_name,
           inserted.m_name,
           inserted.l_name,
           inserted.email,
           inserted.division,
           inserted.created_at
    INTO @InsertedUsers
    VALUES (@f_name, @m_name, @l_name, @email, @password, @division);

    -- Insert roles into tbl_user_role
    INSERT INTO tbl_user_role (user_id, role_id)
    SELECT u.id, r.role_id
    FROM @InsertedUsers u
    CROSS JOIN @role r;

    -- Return enriched result with division name
    SELECT u.id,
           COALESCE(u.f_name, '') + ' ' + COALESCE(u.m_name, '') + ' ' + COALESCE(u.l_name, '') AS full_name,
           u.email,
           STRING_AGG(rol.name, ', ') AS role,
           
           d.name AS division,
           d.abrv AS division_abrv,
           u.created_at
    FROM @InsertedUsers u
    JOIN tbl_office d ON u.division = d.id
    LEFT JOIN tbl_user_role AS urol ON u.id = urol.user_id
    LEFT JOIN tbl_role AS rol ON rol.id = urol.role_id
    GROUP BY u.id, u.f_name, u.m_name, u.l_name, u.email, d.name, d.abrv, u.created_at

    ;
END;
GO
/****** Object:  StoredProcedure [dbo].[resetPassword]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[resetPassword]
	@newPass VARCHAR(255),
	@userId UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
    
		 -- Check if the user exists
        IF NOT EXISTS (SELECT 1 FROM tbl_user WHERE id = @userId)
        BEGIN
            RAISERROR('User with the given ID does not exist.', 16, 1);
            RETURN;
        END	

		UPDATE tbl_user
		SET password = @newPass
		WHERE id = @userId

	END TRY

	BEGIN CATCH
        -- Handle unexpected errors
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[updateExternalFile]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[updateExternalFile]
    @fileId UNIQUEIDENTIFIER,
    @report NVARCHAR(MAX),
    @status VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        
        IF NOT EXISTS (SELECT 1 FROM tbl_file WHERE id = @fileId)
        BEGIN
            RAISERROR('File ID not found.', 16, 1);
            RETURN;
        END

        -- Update statements for procedure here
        UPDATE tbl_file
        SET 
            report = @report, 
            status = @status
        WHERE id = @fileId;
    END TRY
    BEGIN CATCH
        -- Handle errors here
        DECLARE @ErrorMessage NVARCHAR(4000),
                @ErrorSeverity INT,
                @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Option 1: Rethrow the error to the caller
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);

        -- Option 2 (alternative): Log the error into an error table
        -- INSERT INTO tbl_errorLog (ErrorMessage, ErrorSeverity, ErrorState, ErrorDate)
        -- VALUES (@ErrorMessage, @ErrorSeverity, @ErrorState, GETDATE());
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[vw_userDetails]    Script Date: 18/02/2026 11:40:26 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
ALTER PROCEDURE [dbo].[vw_userDetails] 
	@email varchar(100)
AS
BEGIN
	SELECT 
		usr.id,
		usr.f_name,
		usr.m_name,
		usr.l_name,
		COALESCE(usr.f_name, '') + ' ' + COALESCE(usr.m_name, '') + ' ' + COALESCE(usr.l_name, '') AS full_name,
		usr.email,
		usr.password,
		rol.name AS role,
		div.name AS division,
        div.abrv AS division_abrv,
		usr.created_at
	FROM tbl_user usr
	JOIN tbl_office div ON usr.division = div.id
	JOIN tbl_user_role AS urol ON usr.id = urol.user_id
	JOIN tbl_role AS rol ON urol.role_id = rol.id
	WHERE usr.email = @email
END;
*/
CREATE PROCEDURE [dbo].[vw_userDetails] 
    @email VARCHAR(100)
AS
BEGIN
    SELECT 
        usr.id,
        usr.f_name,
        usr.m_name,
        usr.l_name,
        COALESCE(usr.f_name, '') + ' ' + COALESCE(usr.m_name, '') + ' ' + COALESCE(usr.l_name, '') AS full_name,
        usr.email,
        usr.password,
        (
            SELECT rol.id, rol.name
            FROM tbl_user_role urol 
            JOIN tbl_role rol ON urol.role_id = rol.id 
            WHERE urol.user_id = usr.id 
            FOR JSON PATH 
        ) AS role, -- returns ["Admin","Editor"]
        div.id AS division_id,
        div.name AS division,
        div.abrv AS division_abrv,
        usr.created_at
    FROM tbl_user usr
    JOIN tbl_office div ON usr.division = div.id
    LEFT JOIN tbl_user_role urol ON usr.id = urol.user_id
    LEFT JOIN tbl_role rol ON urol.role_id = rol.id
    WHERE usr.email = @email
    GROUP BY 
        usr.id, usr.f_name, usr.m_name, usr.l_name,
        usr.email, usr.password, div.id, div.name, div.abrv, usr.created_at;
END;
GO
USE [master]
GO
